footer.flex ul {
    gap: 1rem;
}
footer.flex {
    padding-bottom: 1.5rem;
}
footer.flex ul a{
    color: var(--sub-title);
    font-size: .9rem;
    transition: all .5s;
    &:hover {
        color: var(--blue);
    }
}

footer.flex .copy-rights {
    color: rgb(113 113 122);
    a{
        color: var(--blue);
        font-weight: bold;
        opacity: .7;
        transition: all .4s;
        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 650px) {
    footer.flex {
        flex-direction: column;
        gap:  2rem;
        ul {
            gap: 2rem;
        }
    }
}